<div class="row">
    <center>
        {{!-- Ready to order (located on the left side) --}}
        <div class="col-md-6">
            <h4 class="fontStyle">Order Up!</h4>
            <div id="orderReady">
                
                {{!-- Insert Burgers --}}
                {{#each burgers}}
                    {{#unless devoured}}
                        <form action="burger/eat/{{id}}" method="POST">
                            <div class="input-group">
                                <li class="form-control">{{id}}. {{burger_name}}</li>
                                <span class="input-group-btn">
                                    <button class="btn" style="background-color:#2A3852; margin-bottom:10px; color: white" type="submit">
                                        Devour It!</button>
                                </span>
                            </div>
                        </form>
                    {{/unless}}
                {{/each}}
            </div>
        </div>


        {{!-- Burgers that have already been eaten(right side) --}}
        <div class="col-md-6">
            <h4 class="fontStyle">Burgers Conquered!</h4>
            <div id="orderEaten">
                

                {{!-- Insert eaten burgers --}}
                {{#each burgers}}
                    {{#if this.devoured}}
                        <div class="input-group">
                            <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
                            <span class="input-group-btn">
                                <button class="btn" style="background-color:#9E9EA0; margin-bottom:10px; color: white" type="button">
                                    Conquered!</button>
                            </span>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </center>
</div>